* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  transition: 0.2s;
}

body {
  height: 100%;
  padding: 1rem;
  background-color: rgb(4, 36, 51);
  background-image: url("./resources/weather.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
body #main-con {
  padding: 1rem;
  background-color: hsla(0deg, 0%, 0%, 0.281);
  max-width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body #main-con #head {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  text-align: center;
}
body #main-con #head div:first-child h1 {
  background-color: black;
  font-size: 35px;
  color: white;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
body #main-con #head div:last-child {
  padding: 1rem;
}
body #main-con #head #searchbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 86px;
}
body #main-con #head #search {
  border-radius: 10px 0 0 10px;
}
body #main-con #head #search:focus {
  outline: none;
}
body #main-con #head #search-btn {
  background-color: rgb(15, 15, 19);
  color: rgb(255, 255, 255);
  max-width: 100px;
  border-radius: 0 10px 10px 0;
}
body #main-con #head #search-btn:hover {
  background-color: rgb(95, 95, 95);
  color: white;
}
body #main-con #head #search,
body #main-con #head #search-btn {
  padding: 6px 1rem;
  border-style: none;
}
body #main-con #head #errormessage {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
body #main-con #main-info {
  text-align: center;
}
body #main-con #main-info #text-info #city-name {
  padding: 4px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(248, 141, 0);
  text-decoration: underline;
  text-shadow: 2px 2px 4px #000000;
}
body #main-con #main-info #text-info #cloud-desc {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
body #main-con #main-info #details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
body #main-con #main-info #details #temp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: rgb(248, 141, 0);
  text-shadow: 2px 2px 4px #000000;
}
body #main-con #main-info #details #w-icon #weather-icon {
  width: 300px;
}
body #main-con #main-info #infos ul {
  height: 100%;
  padding: 0;
}
body #main-con #main-info #infos ul li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
body #main-con #main-info #infos ul li div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body #main-con #main-info #infos ul li div:nth-child(odd) {
  background-color: rgb(216, 216, 216);
}
body #main-con #main-info #infos ul li div:nth-child(even) {
  color: white;
  margin-bottom: 2px;
  background-color: rgb(36, 35, 35);
}

@media all and (max-width: 450px) {
  body #main-info #details #temp {
    padding: 1rem;
  }
  body #main-info #details #w-icon #weather-icon {
    width: 500px;
  }
  body #main-info #infos ul li div:nth-child(odd) {
    border-bottom: none;
  }
}/*# sourceMappingURL=design.css.map */